@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #Ffffff;
}
html, body{
  box-sizing: border-box;
  background-color: #F7E967;
  height: 100%;
  padding: 20px;
  margin: 0px;
}
.container > div > img{
  width: 100%;
  height: 100%;
  object-fit:  cover;
}

.container > div:nth-child(1n){
  background-color: #588F27;
}
.container > div:nth-child(2n){
  background-color: #CAFCD8;
}
.container > div:nth-child(3n){
  background-color: #A9CF54;
}
.container > div:nth-child(4n){
  background-color: #04BFBF;
}
